/* Common footer styles */
footer {
  background: #fff;
  color: #707070;

  .footer-container {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    @media (max-width: $mediaDesktopWidthXL) {
      padding: 20px;
    }
    padding-top: 20px;

    .footer-content {
      display: flex;
      flex: 1;
    }
  }

  ul {
    &:first-child {
      width: 100%;
    } 

    li {
      list-style: none;
      line-height: 2em;
      margin-right: 20px;
      display: inline-block;
    
      &.creditation {
        margin: 0;
      }

      &.copy {
        margin-top: 40px;
        width: 99%;
      }

      &.facebook {
        vertical-align: top;
      }

      a {
        color: #707070;
      }
    }
  }
}


