/* Desktop navigation */
nav {
  width: 75.77vw;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 13px; }
  nav .navbar:before {
    right: 29px;
    margin-left: -50%; }
  nav .navbar:after {
    left: 29px;
    margin-right: -50%; }
  nav .navbar:before, nav .navbar:after {
    background-color: #d0d0d0;
    content: "";
    display: inline-block;
    height: 1px;
    bottom: .1em;
    position: relative;
    vertical-align: middle;
    width: 50%; }

.mobile-nav {
  display: none; }

.nav-mobile-wrapper {
  display: none; }

.slide-checkbox {
  position: absolute;
  top: -9999px;
  left: -9999px; }

/* Common header styles */
header .brand {
  display: block;
  margin: 0 auto;
  /*width: 400px;*/ }
  header .brand h1 {
    color: #707070;
    font-family: 'Lobster', cursive;
    margin: 30px 0;
    font-weight: normal; }
    header .brand h1 span {
      color: #008080; }

.navbar li {
  display: inline-block;
  list-style: none; }
  .navbar li ul {
    display: none;
    position: absolute;
    width: 175px;
    background-color: #e1e1e1;
    z-index: 2; }
  .navbar li:hover > ul {
    display: block; }
    .navbar li:hover > ul li {
      float: left;
      width: 100%; }
      .navbar li:hover > ul li a {
        color: #717171;
        display: block; }
        .navbar li:hover > ul li a:hover {
          color: #fff; }
  .navbar li:hover, .navbar li.active {
    background: #008080;
    color: #fff; }
    .navbar li:hover ul li.active, .navbar li.active ul li.active {
      background: none; }
      .navbar li:hover ul li.active a, .navbar li.active ul li.active a {
        color: #008080;
        display: block; }
  .navbar li a {
    color: inherit;
    display: inline-block;
    padding: 10px 14px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

/* Mobile overrides for header */
@media (max-width: 767px) {
  nav {
    display: none; }

  .nav-trigger {
    float: left;
    cursor: pointer;
    position: relative;
    z-index: 1;
    display: block;
    margin: 8px 10px 0 30px; }

  html, body {
    height: 100%; }

  body {
    overflow-x: hidden; }

  #container {
    min-height: 100%; }

  input[type=checkbox] {
    position: absolute;
    opacity: 0; }

  label.mobile-nav {
    position: absolute;
    top: 35px;
    left: 40px;
    z-index: 1;
    display: block;
    font-size: 3em;
    color: #444;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    transition: transform .4s; }
    label.mobile-nav:before {
      content: "!";
      color: #f9f9f9;
      background: #333;
      display: block;
      height: 30px;
      width: 38px;
      border-radius: 3px;
      font: 24px/30px 'responav';
      text-align: center;
      margin-left: -19px; }

  input[type=checkbox]:checked ~ label:before {
    transform: translate3d(250px, 0, 0);
    content: '"';
    color: #f9f9f9;
    background: #333;
    display: block;
    height: 30px;
    width: 38px;
    border-radius: 3px;
    font: 24px/30px 'responav';
    text-align: center;
    margin-left: -19px; }

  .content {
    transform: translate3d(0, 0, 0);
    transition: transform .4s; }

  input[type=checkbox]:checked ~ .main-content,
  input[type=checkbox]:checked ~ header h1 {
    transform: translate3d(250px, 0, 0); }

  input[type=checkbox]:checked ~ header .slide-menu {
    transform: translate3d(0, 0, 0); }

  input[type=checkbox]:checked ~ header .slide-menu .menu li {
    width: 100%; }

  .slide-menu {
    transform: translate3d(-250px, 0, 0);
    transition: all .4s;
    position: absolute;
    width: 250px;
    height: 100vh;
    padding: 26px 0 20px 0;
    top: 0;
    left: 0;
    border-right: 1px solid #e1e1e1;
    display: inline-table;
    box-sizing: border-box;
    background: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px; }
    .slide-menu ul li {
      list-style: none;
      width: 100%;
      text-align: left; }
      .slide-menu ul li ul {
        width: 100%; }
      .slide-menu ul li:hover > ul li a {
        padding-left: 30px; }
      .slide-menu ul li a {
        display: block; } }

/*# sourceMappingURL=header.css.map */
