@font-face {
  font-family: 'responav';
  src: url("/fonts/responav.eot");
  src: url("/fonts/responav.eot?#iefix") format("embedded-opentype"), url("/fonts/responav.woff") format("woff"), url("/fonts/responav.ttf") format("truetype"), url("/fonts/responav.svg#responav") format("svg");
  font-weight: normal;
  font-style: normal;
}


#toggle {
  display: none;
}


.mobile-nav {
  display: none;

  span {
    text-indent: -9999px;
    position: inherit;
  }
}

.nav-mobile-wrapper {
  display: none;
}

.slide-checkbox {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* Common header styles */
header {
  background: #fff;
   
  .header-container {
    display: flex;
    max-width: $mediaDesktopWidthXL;
    margin: 0 auto;

    .header-content {
      display: flex;
      padding: 0 20px;
      @media (min-width: $mediaIpadWidth) {
        width: 100%;
      }

      nav {
        display: none;
        @media (min-width: $mediaIpadWidth) {
          display: flex;
        }

        flex-grow: 1;
        align-items: center;

        &.mobile {
          display: flex;
          @media (min-width: $mediaIpadWidth) {
            display: none;
          }
        }

        .navbar {
          flex-direction: row;
          margin-left: auto;
          text-transform: uppercase;
          margin-top: 10px;
        
          li {
            display: inline-block;
            list-style: none;
        
            ul {
              display: none;
              position: absolute;
              @media (max-width: $mediaIpadWidth) {
                position: relative;
                margin-left: 20px;
              }
              width: auto;
              background-color: #e1e1e1;
              z-index: 2;
            }
        
            &:hover > ul {
              display: block;
        
              li {
                float: left;
                width: 100%;
        
                a {
                  color: #717171;
                  display: block;
        
                  &:hover {
                    color: #008080;
                  }
                }
              }
            }
        
            &:hover, &.active {
              color: #008080;
        
              ul {
                li {
                  &.active {
                    background: none;
                    a {
                      color: #008080;
                      display: block;
                    }
                  }
                }
              }
            }
        
            a {
              color: inherit;
              display: inline-block;
              padding: 10px 14px;
              -webkit-transition: all 0.2s ease-in-out;
              -moz-transition: all 0.2s ease-in-out;
              -o-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    
      .logo {
        display: inline-block;

        a {
          display: inline-block;
          margin: 0 auto;
          /*width: 400px;*/

          h1 {
          color: #707070;
          font-size: 2.5rem;
          font-family: 'Lobster', cursive;
          margin: 30px 0;
          font-weight: normal;

            span {
              color: #008080;
            }
          }
        }
      }
    }
  }
}







/* Mobile overrides for header */
@media (max-width: $mediaIpadWidth) {

  .nav-trigger {
    float: left;
    cursor: pointer;
    position: relative;
    z-index: 1;
    display: block;
    margin: 8px 10px 0 30px;
  }
  #container {
    min-height: 100%;
  }

  input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }
  label.mobile-nav {
    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 1;
    display: block;
    font-size: 3rem;
    color: #444;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    transition: transform .4s;

    &:before {
      content: "!";
      color: #f9f9f9;
      background: #008080;
      display: block;
      height: 32px;
      width: 38px;
      border-radius: 3px;
      font: 24px/30px 'responav';
      text-align: center;
    }
  }

  input[type=checkbox]:checked ~ label {
    &:before {
      right: 0px;
      content: '"';
      color: #f9f9f9;
      background: #008080;
      display: block;
      height: 30px;
      width: 38px;
      border-radius: 3px;
      font: 24px/30px 'responav';
      text-align: center;
    }
  }

  .content {
    transform: translate3d(0, 0, 0);
    transition: transform .4s;
  }

  input[type=checkbox]:checked ~ header .slide-menu {
     right: 0px;
     z-index: 1;
  }

  input[type=checkbox]:checked ~ .mobile-nav {
    right: 250px;
    top: 0px;

    &:before {
      border-radius: 0;
    }
  }

  input[type=checkbox]:checked ~ header .slide-menu .menu li {
     width: 100%;
  }

  .slide-menu {
    transition: all .4s;
    position: fixed;
    width: 250px;
    height:100vh;
    padding: 26px 0 20px 0;
    top: 0;
    right: -250px;
    border-left: 5px solid #008080;
    display: inline-table;
    box-sizing: border-box;
    background: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;

      ul {
        li {
          list-style: none;
          width: 100%;
          text-align: left;

          ul {
            width: 100%;
          }

          &:hover > ul {
            li {
              a {
                padding-left: 30px;
              }
            }
          }

          a {
            display: block;
          }
        }
      }
    }
}
