doctype html
html(class="coaching")
	- var titleVar = "- Coaching"
	- var canonicalUrl = "coaching"
	include head.jade
	include body.jade
	div(id="container")
		include navigation.jade
		div(class="main-content")
			h2 Coaching

			div(class="content")
				div(class="sub-section")


		include footer.jade
