doctype html
html(class="faqs" lang="en")
	- var titleVar = "- FAQs"
	- var canonicalUrl = "faqs"

	include ./head.jade
	include ./body.jade
	div(id="container")
		include ./navigation.jade
		main
			div(class="main-content")
				h2 Frequently asked questions

				div(class="content")
					div(class="content-item active")
						span(class="strong accordion-item") WHERE ARE LESSONS HELD?
						<svg viewBox="0 0 20 20" width="20" height="20" class="fill-current text-grey-dark accordion-arrow"><title>chevron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
						div(class="accordion-content show") Learn to ride lessons take place in a previously risk assessed location in Bracknell or Ascot. Bikeability level 2 & 3 locations are more flexible and will be agreed on an individual basis.
					
					div(class="content-item")
						span(class="strong accordion-item") CAN YOU COME TO MY HOUSE?
						<svg viewBox="0 0 20 20" width="20" height="20" class="fill-current text-grey-dark accordion-arrow"><title>chevron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
						div(class="accordion-content") Learn to ride lessons need to take place in a traffic free area and you will need to travel to Bracknell or Ascot. If there are suitable training locations nearby for Bikeability level 2 or 3, this may be an option. 
					
					div(class="content-item")
						span(class="strong accordion-item") HOW OLD DOES MY CHILD NEED TO BE?
						<svg viewBox="0 0 20 20" width="20" height="20" class="fill-current text-grey-dark accordion-arrow"><title>chevron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
						div(class="accordion-content")
							ul
								li Learn to ride: 6 years and upwards
								li Bikeability level 1: 7 years and upwards
								li Bikeability level 2: 10 years and upwards
								li Bikeability level 3: 12 years and upwards

					div(class="content-item")
						span(class="strong accordion-item") WILL YOU TEACH MY 4-5 YEAR OLD?
						<svg viewBox="0 0 20 20" width="20" height="20" class="fill-current text-grey-dark accordion-arrow"><title>chevron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
						div(class="accordion-content") Not all 4-5 year olds are ready to learn to ride, and they can take several lessons to develop their balance and control. Due to high demand and limited availability, I’m not able to offer lessons for younger children.
					
					div(class="content-item")
						span(class="strong accordion-item") DO YOU OFFER LESSONS DURING THE SCHOOL HOLIDAYS?
						<svg viewBox="0 0 20 20" width="20" height="20" class="fill-current text-grey-dark accordion-arrow"><title>chevron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
						div(class="accordion-content") I’m only available outside of office hours, as I do already work full time.
					
					div(class="content-item")
						span(class="strong accordion-item") HOW MANY LESSONS DOES IT USUALLY TAKE?
						<svg viewBox="0 0 20 20" width="20" height="20" class="fill-current text-grey-dark accordion-arrow"><title>chevron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
						div(class="accordion-content")
							p Bikeability has fixed durations according to the level and numbers of children. More information is available <a href="/services/bikeability" title="Bikeability" class="link">here.</a>
							p For beginners learning to ride, most children learn in one or two lessons. Children with additional needs, or those that are very nervous may take slightly longer.

					div(class="content-item")
						span(class="strong accordion-item") DO YOU OFFER GROUP OR SHARED LESSONS?
						<svg viewBox="0 0 20 20" width="20" height="20" class="fill-current text-grey-dark accordion-arrow"><title>chevron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
						div(class="accordion-content") I’m happy to offer Bikeability to groups, or friends that would like to share a lesson. Learn to ride lessons are most successful on a 1:1 basis. Shared lessons are only available for siblings of a similar age, but all children are different and lesson time may need to be split if children are progressing at different rates.

					div(class="content-item")
						span(class="strong accordion-item") MY CHILD HAS SPECIAL NEEDS - CAN YOU HELP?
						<svg viewBox="0 0 20 20" width="20" height="20" class="fill-current text-grey-dark accordion-arrow"><title>chevron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
						div(class="accordion-content") I have lots of experience teaching children with SEND to cycle and I’m happy to help. Please <a href="/contact" title="Contact me" class="link">contact me</a> to discuss your child’s needs. 

					div(class="content-item")
						span(class="strong accordion-item") DOES MY CHILD NEED THEIR OWN BIKE AND HELMET?
						<svg viewBox="0 0 20 20" width="20" height="20" class="fill-current text-grey-dark accordion-arrow"><title>chevron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
						div(class="accordion-content") Yes, I’m not able to supply bikes or helmets. Bikes will be checked before a lesson. I am able to carry out minor repairs and adjustments, but the bike must be safe to ride, with two working brakes, and helmets must be of the correct size and fit for purpose. 

					div(class="content-item")
						span(class="strong accordion-item") WHAT SIZE BIKE SHOULD MY CHILD BE RIDING?
						<svg viewBox="0 0 20 20" width="20" height="20" class="fill-current text-grey-dark accordion-arrow"><title>chevron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
						div(class="accordion-content") In order to learn to ride, your child will need a bike that is small enough for them to be able to sit on the saddle with their feet flat on the ground with a slight bend in their knees. If their bike is too big, I will not be able to teach them and the lesson may still be chargeable. For Bikeability, bikes must be of the correct size, with the saddle at a height where the rider can reach the ground sitting on the saddle and on the balls of the feet.

					div(class="content-item")
						span(class="strong accordion-item") WHAT SHOULD RIDERS WEAR?
						<svg viewBox="0 0 20 20" width="20" height="20" class="fill-current text-grey-dark accordion-arrow"><title>chevron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
						div(class="accordion-content") Comfortable clothing for exercise. Please avoid jeans, slip on shoes or sandals. 

				div(class="content-item")
					span(class="strong accordion-item") HOW DO I BOOK?
					<svg viewBox="0 0 20 20" width="20" height="20" class="fill-current text-grey-dark accordion-arrow"><title>chevron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
					div(class="accordion-content") Please send me a message via my <a href="https://m.me/VentureCycling" class="link">Facebook page</a>, or fill out my <a href="/contact" title="Contact me" class="link">contact form</a>. I can then check my diary and come back to you with my availability. 

					div(class="content-item")
						span(class="strong accordion-item") WHAT IF THE WEATHER IS POOR?
						<svg viewBox="0 0 20 20" width="20" height="20" class="fill-current text-grey-dark accordion-arrow"><title>chevron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
						div(class="accordion-content") If it is unsafe to ride, lessons will need to be rescheduled. This would usually be in the event of thunderstorms, heavy rain, ice or snow. Lessons may go ahead if light rain showers are forecast, please dress appropriately. 

					div(class="content-item last")
						span(class="strong accordion-item") CAN I CANCEL OR CHANGE MY BOOKING?
						<svg viewBox="0 0 20 20" width="20" height="20" class="fill-current text-grey-dark accordion-arrow"><title>chevron down</title><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
						div(class="accordion-content") Please allow 72 hours notice to cancel or change bookings, otherwise these may be chargeable. I book several lessons in a block across each day that I am working, and cancellations at short notice are likely to leave me with gaps in my schedule that I cannot reallocate. 


	include ./footer.jade
	|</body>
