script(async src='../javascript/jquery-1.11.3.min.js')
script(async src='../javascript/script.min.js')

script.
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-75016389-1', 'auto');
	ga('send', 'pageview');
footer
	div(class="footer-container")
		div(class="footer-content")
			ul
				li 
					a(href='/contact' title="Contact Venture Cycling") Contact
				li
					a(href='/faqs' title="Frequently asked questions") Faqs
				li
					a(href='/about' title="About Venture Cycling") About
				
				li(class="facebook")
					a(target="_blank" href='https://www.facebook.com/Venturecycling') 
						img(alt="Facebook social media" src="../images/facebook-logo.svg")


				li(class="copy")

					<small>&copy; <script>document.write(new Date().getFullYear())</script> Venture Cycling</small>


		
			ul
				li(class='creditation')
					img(src="../images/bikeability.png" class="bikeability" alt="" width="90" height="108")
		
	
		