footer
	ul
		li Calendar
			ul
				li
					a(href='/calendar') Availability
		li Social Links
			ul
				li
					a(class="facebook" target="_blank" href='http://www.facebook.com/Venturecycling') Facebook
