footer
	ul
		li Calendar
			ul
				li
					a(href='/calendar' class="icon-calendar") Availability
		li Social Links
			ul
				li
					a(class="facebook icon-facebook" target="_blank" href='http://www.facebook.com/Venturecycling') Facebook

	<small>&copy; Copyright 2016, Venture Cycling</small>
