head
	meta(charset='utf-8')
	- var theTitle = titleVar ? titleVar : ""
	- var canonicalUrl = canonicalUrl ? canonicalUrl : ""
	title Venture Cycling #{theTitle}
	link(rel="canonical" href="http://www.venturecycling.co.uk/#{canonicalUrl}")
	meta(name="description" content="Ascot based cycling instructor, learn to cycle for all ages, Bikeability courses, ride leading and route planning")
	meta(name="keywords" content="Cycle instructor, Learn bike, Ride leader, Bikeability, National standards, Berkshire, Cycling coach")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lobster" rel="stylesheet" type="text/css")
	link(href="../scss/style.css" rel="stylesheet" type="text/css")

	script(src='../javascript/jquery-1.11.3.min.js')
	script(src='../javascript/jquery-slider.js')
	script(src='../javascript/script.js')

	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-75016389-1', 'auto');
		ga('send', 'pageview');

