head
	meta(charset='utf-8')
	- var theTitle = titleVar ? titleVar : ""
	- var canonicalUrl = canonicalUrl ? canonicalUrl : ""
	title Venture Cycling #{theTitle}
	link(rel="canonical" href="https://www.venturecycling.co.uk/#{canonicalUrl}")
	meta(name="description" content="Ascot based cycling instructor, learn to cycle for all ages, Bikeability courses, ride leading and route planning")
	meta(name="keywords" content="Cycle instructor, Cycle instructor Berkshire, Cycle instructor Windsor, Cycle instructor Bracknell, Learn bike, Ride leader, Bikeability, National standards, Cycling coach")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")

	link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Droid+Sans|Droid+Sans:bold&display=swap")
	link(href="../css/style.min.css" rel="stylesheet" type="text/css")
