doctype html
html(class="home" lang="en")
	- var titleVar = "- Home | Learn to cycle"
		include head.jade
		include body.jade
		div(id="container")
			include navigation.jade

			main
				div(class="main-content")
					div(class="info")
						p Venture Cycling was set up by Ascot based National Standards Cycling Instructor, Kelly Koya. Kelly offers cycle training for all ages, from beginners wanting to learn to balance and ride right through to confident cyclists who want to ride on busier or more complex roads. Through enjoyable, and encouraging lessons trainees will learn to cycle safely and confidently.

						p Lessons are offered in areas covered by postcodes SL5, RG12 and RG42. Surrounding areas may be considered subject to an additional fee.
	
						img(src="../images/bikeability-promo.jpg" class="bikeability-promo" alt="Learn to ride bikability for all ages" )

					div(class="facebook-feed")
						div(class="fb-page" data-href="https://www.facebook.com/Venturecycling" data-tabs="timeline,events,messages" data-width="500" data-height="450" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false")
						div(class="fb-xfbml-parse-ignore")
							blockquote(cite="https://www.facebook.com/Venturecycling")
			
			include footer.jade
		|</body>
