doctype html
html(class="news")
	- var titleVar = "- News"
	- var canonicalUrl = "news"
	include head.jade
	include body.jade
	div(id="container")
		include navigation.jade
		div(class="main-content")
			h2 News

			div(class="content")
				div(class="sub-section")
				
					h4 Balanceability bike training - 2nd, 9th, 16th, 23rd March 2016.
					p Balance bike training at the <a href="https://www.google.co.uk/maps/place/Gorse+Ride+N,+Finchampstead,+Wokingham+RG40+4ES/@51.3808839,-0.8622598,17z/data=!3m1!4b1!4m2!3m1!1s0x4876823202af6cf9:0x7a9abdd593e50226" target="_blank" class="link">FBC centre</a> in Finchampstead, designed for 2-4 year old it teaches the motor skills, dynamic and static balance needed to master cycling using ergonomic balance bikes. Bikes and helmets are available to borrow. Sessions are <strong> Free.</strong> For more information please <a href="../content/balanceability.jpg" title="Balanceability details" target="_blank" class="link">click here.</a>

					p Learn to ride at the <a href="https://www.google.co.uk/maps/place/Gorse+Ride+N,+Finchampstead,+Wokingham+RG40+4ES/@51.3808839,-0.8622598,17z/data=!3m1!4b1!4m2!3m1!1s0x4876823202af6cf9:0x7a9abdd593e50226" target="_blank" title="Balanceability location" class="link">FBC centre</a> in Finchampstead, designed for older children 5-10 year olds who are struggling to ride a bike. Session are just £2.50 a session.

				div(class="sub-section")
					h4 Adult cycling lessons - Every Saturday morning at <a href="https://www.google.co.uk/maps/place/Beechwood+Primary+School/@51.452043,-0.9063077,17z/data=!3m1!4b1!4m2!3m1!1s0x487684f40bfab70b:0x4715c6a6740a8d8a" target="_blank" title="Beechwood Primary School" class="link">Beechwood Primary School</a> from 12th March 2016 until 23rd April 2016.

					p <strong>Level 1 –</strong> Based in the school playground (i.e. not on the road), teaching the basics of how to ride a bike.  This is great for new cyclists or if you haven’t been on a bike for a long time.  A maximum of 4 participants to 1 instructor. You can borrow a bike if needed.

					p <strong>Level 2 -</strong> Training on quiet local roads to cover the basics of road positioning and communicating with other road users.  This level is great for anyone who wants to cycle on roads.  Maximum of 6 participants to 1 instructor.  You must have a roadworthy bike.

					p For more information please <a href="../content/adult-cycling.pdf" target="_blank" title="Adult cycling details" class="link">click here.</a>

				div(class="sub-section")
					h4 Bikeability cycling training (Level 1 and 2) - Wednesday 30th March, Thursday 31st March and Friday 1st April 2016 at <a href="https://www.google.co.uk/maps/place/St+Crispin's+School/@51.4108979,-0.8243287,17z/data=!3m1!4b1!4m2!3m1!1s0x4876813f1f392291:0x33c043677131fc0" target="_blank" class="link">St Crispins School, Wokingham</a>

					p Trainees need to attend all 3 sessions to achieve Level 2. For more information please <a href="../content/bikeability-1.pdf" target="_blank" title="Bikeability Level 1 and 2 details" class="link">click here.</a>

				div(class="sub-section")
					h4 Bikeability cycling training (Level 3) - Wednesday 30th March, Thursday 31st March at <a href="https://www.google.co.uk/maps/place/St+Crispin's+School/@51.4108979,-0.8243287,17z/data=!3m1!4b1!4m2!3m1!1s0x4876813f1f392291:0x33c043677131fc0" target="_blank" class="link">St Crispins School, Wokingham</a>

					p Trainees must have already passed Bikeability Level 2 and must be confident cyclists, with experience of cycling on their own in traffic. For more information please <a href="../content/bikeability-3.pdf" target="_blank" title="Bikeability Level 3 details" class="link">click here.</a>


		include footer.jade
