doctype html
html(lang="en")
	- var titleVar = "- Pricing"
	- var canonicalUrl = "pricing"

	include head.jade
	include body.jade
	div(id="container")
		include navigation.jade
		main
			div(class="main-content")
				h2 Pricing
				div(class="pricing-structure")
					div(class="lesson-type")
						h4 Learn to ride - <span> Lessons take place in a private car park at <a href="https://www.google.co.uk/maps/place/Crown+Wood+Primary+School/@51.3969659,-0.7398799,17z/data=!3m1!4b1!4m5!3m4!1s0x48767e30abb93f6b:0xe28124f8afd25115!8m2!3d51.3970413!4d-0.7356425" target="_blank" title="Crown Wood Primary location" class="link">Crown Wood Primary School</a></span>
						div(class="prices")
							p 1:1 lesson - £30 (45 minutes)
							p 1:2 lesson - £40 (60 minutes, for siblings only)
					div(class="lesson-type")
						h4 Bikeability - Level 1*
						div(class="prices")
							p 1-2 trainees - £70 (two hour course) 
							p 3-6 trainees - £100 (two hour course) 
							p 7+ trainees - please contact to discuss your requirements
					div(class="lesson-type")
						h4 Bikeability - Level 2*
						div(class="prices")
							p 1-2 trainees - £80 (two hour course) 
							p 3 trainees - £130 (four hour course) 
							p 4 trainees - £160 (five hour course) 
							p 5 trainees - £190 (six hour course)  
							p 6 trainees - £220 (six hour course) 
					div(class="lesson-type")
						h4 Bikeability - Level 3*
						div(class="prices")
							p 1:1 training - £80 (two hour course) 
							p 2 trainees - £95 (two hour course) 
							p 3 trainees - £110 (two hour course) 
					div(class="lesson-type")
						h4 Hire Bike
						div(class="prices")
							p £5 (per lesson)

				p <span class="terms">*</span>Bikeability can take place outside of Ascot, Bracknell area but there will be an out of area fee in addition to above.  
				p Please note 72 hours notice is required to change or cancel a lesson. Lessons do go ahead in poor weather unless the conditions are hazardous, in which case you will be notified and an alternative date will be offered.
				p(class="strong") Lessons cancelled with less than 72 hours notice will be chargeable in full.
				p Payment can be made by BACS at time of booking. Alternatively, payment can be made by cash or contactless payment on the day.

				p <a href="/contact" class="link">Contact me</a> for further information or <a href="/make-a-booking" class="link">Make a booking</a>

	include footer.jade
	|</body>
