doctype html
html(lang="en")
	- var titleVar = "- Pricing"
	- var canonicalUrl = "booking/pricing"

	include head.jade
	include body.jade
	div(id="container")
		include navigation.jade
		div(class="main-content")
			h2 Pricing
			div(class="pricing-structure")
				div(class="lesson-type")
					h4 Learn to ride
					div(class="prices")
						p 1:1 lesson - £25 (45 minutes)
						p 1:2 lesson - £40 (60 minutes, for siblings only)
				div(class="lesson-type")
					h4 Bikeability - Level 1
					div(class="prices")
						p 1-2 trainees - £55 (two hour course) 
						p 3-6 trainees - £80 (two hour course) 
						p 7+ trainees - please contact to discuss your requirements
				div(class="lesson-type")
					h4 Bikeability - Level 2
						br
						span (course split over two days)
					div(class="prices")
						p 1-3 trainees - £120 (four hour course) 
						p 3 trainees - £140 (four hour course) 
						p 4 trainees - £160 (five hour course) 
						p 5 trainees - £200 (six hour course)  
						p 6 trainees - £240 (six hour course) 
				div(class="lesson-type")
					h4 Bikeability - Level 3
					div(class="prices")
						p 1:1 training - £70 (two hour course) 
						p 2 trainees - £100 (two hour course) 
						p 3 trainees - £120 (two hour course) 

			p Please note 72 hours notice is required to change or cancel a lesson. Lessons do go ahead in poor weather unless the conditions are hazardous, in which case you will be notified and an alternative date will be offered.
			p(class="strong") Lessons cancelled with less than 72 hours notice will be chargeable in full.
			p Payment by BACS is preferred and should be made at time at booking. Alternatively, payment can be made by cash on the day.

			p <a href="/contact" class="link">Contact me</a> for further information or <a href="/make-a-booking" class="link">Make a booking</a>

	include footer.jade
	|</body>
