doctype html
html(class="make-a-booking" lang="en")
	- var titleVar = "- Make a booking"
	- var canonicalUrl = "booking/make-a-booking"

	include ../head.jade
	include ../body.jade
	div(id="container")
		include ../navigation.jade
		div(class="main-content")
			h2 Make a booking
			p(class="strong alert") From Tuesday 14th August 2018, I am off on my holidays!
			p(class="strong alert") I'll have no access to email and phone calls until my return on the 25th August.
			p(class="strong alert") I'll be back teaching again on Sundays from 2nd September and Saturdays from 15th September.
			p(class="marginS") To make a booking please fill out the form below and submit, once submitted Kelly will be in touch shortly with details. Alternatively, please call on <a href="tel:07725360407" class="tel-link link">07725360407</a>.

			div(class="make-booking")
				form(name="booking-form" id="booking-form" class="contact-form clear-fix")
					div(class="field-box")
						label(for="booking-form-name") Your name
						input(type="text" name="name" id="booking-form-name")

					div(class="field-box")
						label(for="booking-form-email") Your e-mail
						input(type="email" name="email" id="booking-form-email")

					div(class="field-box")
						label(for="booking-form-number") Your phone number
						input(type="text" name="number" id="booking-form-number")

					div(class="field-box")
						label(for="booking-form-location") Your location
						input(type="text" name="location" id="booking-form-location")

					div(class="field-box")
						label(for="booking-form-dob") Date of birth <small>(trainee)</small>
						input(type="text" name="dob" id="booking-form-dob" placeholder="dd/mm/yy")

					div(class="field-box")
						label(for="booking-form-message") Your message
						textarea(name="message" id="booking-form-message" rows="10" cols="29")

					div(class="field-box button-cont")
						input(type="submit" id="booking-form-submit" name="booking-form-submit" class="button" value="Submit")

	include ../footer.jade
	|</body>
