doctype html
html
	include ../head.jade
	div(class="main-content")
		h2 Make a booking
		p To make a booking please fill out the form below and submit, once submitted I will be in touch shortly with details. Please  
			a(href="#" class="link lightbox") click here to check my availability. 

		div(class="make-booking")
			form(name="booking-form" id="booking-form" class="contact-form clear-fix")
				div(class="field-box")
					label(for="booking-form-name") Your name
					input(type="text" name="name" id="booking-form-name")

				div(class="field-box")
					label(for="booking-form-email") Your e-mail
					input(type="email" name="email" id="booking-form-email")

				div(class="field-box")
					label(for="booking-form-number") Your phone number
					input(type="text" name="number" id="booking-form-number")

				div(class="field-box")
					label(for="booking-form-location") Your location
					input(type="text" name="location" id="booking-form-location")

				div(class="field-box")
					label(for="booking-form-dob") Date of birth <small>(trainee)</small>
					input(type="text" name="dob" id="booking-form-dob" placeholder="dd/mm/yyyy")

				div(class="field-box")
					label(for="booking-form-message") Your message
					textarea(name="message" id="booking-form-message" rows="10" cols="29")

				div(class="field-box button-cont")
					input(type="submit" id="booking-form-submit" name="booking-form-submit" class="button" value="Submit")
					
	include ../footer.jade





