doctype html
html
	- var titleVar = "- Pricing"
	- var canonicalUrl = "booking/pricing"

	include ../head.jade
	include ../body.jade
	div(id="container")
		include ../navigation.jade
		div(class="main-content")
			h2 Pricing
			div(class="pricing-structure")
				div(class="lesson-type")
					h4 Learn to ride
					div(class="prices")
						p 1:1 lesson - £25 per hour
						p 1:2 lesson - £35 (90 minutes, for siblings only)
				div(class="lesson-type")
					h4 Bikeability
						br
						span (4 hour course)
					div(class="prices")
						p 1 trainee - £100
						p 2-3 trainees - £120 (total group price for siblings or friends)
						p 4-6 trainees - £160 (total group price for siblings or friends)
			p Please note 24 hours notice is required to change or cancel a lesson. Lessons do go ahead in poor weather unless the conditions are hazardous, in which case you will be notified and an alternative date will be offered.
			p(class="strong") Lessons cancelled with less than 24 hours notice will be chargeable in full.
			p Payment by BACS is preferred and should be made at time at booking. Alternatively, payment can be made by cash on the day.

			p <a href="/contact" class="link">Contact me</a> for further information or <a href="/booking/make-a-booking" class="link">make a booking</a>

	include ../footer.jade
