doctype html
html
	- var titleVar = "- Pricing"
	- var canonicalUrl = "booking/pricing"

	include ../head.jade
	include ../body.jade
	div(id="container")
		include ../navigation.jade
		div(class="main-content")
			h2 Pricing
			div(class="pricing-structure")
				div(class="lesson-type") 
					h4 Private lessons
					div(class="prices") 
						p 1:1 lesson - £20 per hour
						p 1:2 lesson - £25 per hour
				div(class="lesson-type") 
					h4 Group lessons
					div(class="prices")
						p £30 per hour
				div(class="lesson-type") 
					h4 Additional charges
					div(class="prices")
						p Out of area charge - £5
						p Cycle hire - £5
				
			p The prices listed are a guideline and may be subject to change, depending on individual requirement.

			p Payment is required either by cash or bank transfer prior to, or at the start of the booked lesson.
			p <a href="/contact" class="link">Contact me</a> for further information or <a href="/booking/make-a-booking" class="link">Make a booking</a>

	include ../footer.jade
