doctype html
html
	- var titleVar = "- Pricing"
	- var canonicalUrl = "booking/pricing"

	include ../head.jade
	include ../body.jade
	div(id="container")
		include ../navigation.jade
		div(class="main-content")
			h2 Pricing
			div(class="pricing-structure")
				div(class="lesson-type")
					h4 Learn to ride
					div(class="prices")
						p 1:1 lesson - £30 per hour
						p 1:2 lesson - £45 (90 minutes, for siblings only)
				div(class="lesson-type")
					h4 Bikeability - Level 1
					div(class="prices")
						p 1-2 trainees (two hour course) £55
						p 3-6 trainees (two hour course) £80
						p 7+ trainees - please contact to discuss your requirements
				div(class="lesson-type")
					h4 Bikeability - Level 2
						br
						span (course split over two days)
					div(class="prices")
						p 1-3 trainees (four hour course) £120
						p 3 trainees (four hour course) £140
						p 4 trainees (five hour course) £160
						p 5 trainees (six hour course)  £200
						p 6 trainees (six hour course) £240
				div(class="lesson-type")
					h4 Bikeability - Level 3
					div(class="prices")
						p 1:1 training (two hour course) £70
						p 2 trainees (two hour course) £100
						p 3 trainees (two hour course) £120

			p Please note 48 hours notice is required to change or cancel a lesson. Lessons do go ahead in poor weather unless the conditions are hazardous, in which case you will be notified and an alternative date will be offered.
			p(class="strong") Lessons cancelled with less than 48 hours notice will be chargeable in full.
			p Payment by BACS is preferred and should be made at time at booking. Alternatively, payment can be made by cash on the day.

			p <a href="/contact" class="link">Contact me</a> for further information or <a href="/booking/make-a-booking" class="link">Make a booking</a>

	include ../footer.jade
