doctype html
html(class="about" lang="en")
	- var titleVar = "- About"
	- var canonicalUrl = "about/about"

	include ../head.jade
	include ../body.jade
	div(id="container")
		include ../navigation.jade
		div(class="main-content")
			h2 About Kelly
			div(class="image")
				img(src="../images/me.png" alt="" width="100%" height="auto")

			div(class="content")
				p As a National Standards Cycling Instructor Kelly Koya primarily works in schools around Berkshire delivering Bikeability cycle training to Year 5 and 6 children. However, she is fully committed to cycling for all, and works with children and adults of all ages and abilities, delivering training from learn to ride lessons right through to Bikeability level 3 training. Kelly is a qualified Balanceability instructor teaching toddlers 2.5 years old and upwards the motor skills needed to ride a balance bike.

				p Kelly is also a qualified Ride Leader with British Cycling and leads Breeze cycle rides encouraging ladies to get out on their bikes, friendly social rides with coffee stops.

				p Kelly is fully insured, a member of CTC and British Cycling. She has successfully registered Venture Cycling with the Department of Transport as a Bikeability provider. She is CRB checked, trained in supporting SEN and holds a current First Aid certificate. She is also accredited with Cycle Experience as a mechanic to be able to deliver Dr Bike sessions.
	include ../footer.jade
	|</body>
