doctype html
html(class="testimonials")
	include ../head.jade
	div(class="main-content")
		h2 Testimonials
		p 'My daughter could not cycle after numerous frustrating days out trying to find playgrounds and car parks on rainy sundays, BUT after 1 lesson with Kelly she is confident and completed a circuit around the race course unaided with a smile as big as the stand. If your child is nervous or has problems with co-ordination I definitely would recommend Kelly most highly!'

		p 'After 2 hours she is cycling well without any help and can't wait to be out on her bike.'

		p 'My daughter has had a lesson with Kelly and has come on leaps and bounds. Kelly is amazing.'

		p 'Kelly is great would highly recommend!!''

		p 'Kelly Koya is the best my son doing best now. From last two weeks Kelly teach him now he is doing best. High recommended Kelly Koya'

		p 'It's a brilliant service. Highly recommend!'

		p(class="disclaimer") Original copies of all comments are on file, these can be made available to you upon request.
	include ../footer.jade