doctype html
html(class="testimonials")
	- var titleVar = "- Testimonials"
	- var canonicalUrl = "about/testimonials"

	include ../head.jade
	include ../body.jade
	div(id="container")
		include ../navigation.jade
		div(class="main-content")
			h2 Testimonials
			p My daughter could not cycle after numerous frustrating days out trying to find playgrounds and car parks on rainy sundays, BUT after 1 lesson with Kelly she is confident and completed a circuit around the race course unaided with a smile as big as the stand. If your child is nervous or has problems with co-ordination I definitely would recommend Kelly most highly!

			p It took Kelly only 30 minutes to teach our daughter to ride her bicycle, amazing.

			p Kelly got my 7 year old cycling confidently within an hour. We are all so pleased and he's feeling very proud of himself. Just a case of practicing now!

			p My daughter has had a lesson with Kelly and has come on leaps and bounds. Kelly is amazing.

			p All of my children went from totally unable to ride without stabilisers to confidently cycling in just one lesson! I cannot explain how amazing these lessons are!

			p Kelly was amazing! My daughter was very nervous about learning to cycle. It took some time but would highly recommend lessons. She loves cycling and now can't get her off the bike! Thank you Kelly.

			p Kelly underestimated the brilliance of her technique and we were signed up for two sessions for our two girls together (6&4) but we only needed one. I loved the fact she gave each bike the once over before the girls got on them. She made my girls feel at ease, the 4 year old was cycling within 40mins of the lesson, the 6 year old (who was a very reluctant learner rider) didn't quite get it on the day but had the courage and confidence from Kelly to practice the very next day which is when she got it! We had friends who took on our second session, and their child is now cycling, and other friends after that who also benefited! Very happy customers!

			p Got my very nervous 6.5 year old son riding his bike within 25mins - worth the journey from Caversham. My husband was really impressed with the organisation - the morning started badly when we realised just before we were due to leave that my son had a flat tyre that couldn't be repaired. He got in touch with Kelly who had a spare bike he could use so the lesson could still ahead and also gave us some good advice about what to look for in his next bike. Would definitely recommend.

			p I had 2 very nervous girls who had balance to start, but with Kelly's brilliant techniques and fun learning both girls are now riding in 2 wheels with confidence after only 2 sessions. Can't thank you enough, 2 happy girls and an even happier Mummy!!
		include ../footer.jade
