doctype html
html
	- var titleVar = "- Balanceability"
	- var canonicalUrl = "services/balanceability"
	include ../head.jade
	include ../body.jade
	div(id="container")
		include ../navigation.jade
		div(class="main-content")

	include ../footer.jade
