doctype html
html
	- var titleVar = "- Balanceability"
	- var canonicalUrl = "services/balanceability"
	include ../head.jade
	include ../body.jade
	div(id="container")
		include ../navigation.jade
		div(class="main-content")
			h2 Balanceability

			div(class="content")
				p Balanceability is the UK’s first and only accredited learn to cycle programme. It is suitable for children aged between 2.5 and 6 years and is designed to teach the motor skills, dynamic and static balance needed to master cycling using ergonomic balance bikes. Kelly is a qualified Balanceability instructor able to offer learn to ride sessions for small groups or on a 1:1 basis. For the latest course information please <a href="/news" class="link">click here</a>

				p For more information on Balanceability please see <a href="http://www.balanceability.com" class="link">http://www.balanceability.com</a>

	include ../footer.jade
