doctype html
html
	include ../head.jade
	div(class="main-content")
		h2 Children’s Lessons

		div(class="image")
			img(src="../images/childrens-lesson.jpg")
			img(src="../images/childrens-lesson-1.png")
		
		div(class="content")
			div(class="sub-section") 
				h4(class="heading") Learn to Ride
				p Teaching children to cycle is a challenge for many parents. I can take the stress out of the provess by providing fun lessons to promote excellent early riding skills. Children love the fun games structured to develop their skills, and gain confidence through an approach which suppoprts their learning. For very young children I offer a balance programn designed to improve their co-ordination, and balance bike riding skills ready for cycling independantly. 


				p While some children learn in as little as a single one hour lesson, every child is different. I work with children at a pace that suits them, and I take a flexible approach in adapting lessons to ensure any aditional needs or requirements are met to ensure your child has an enjoyable and productive lesson. Please <a href="/contact" class="link">contact me</a> if you would like to discuss any special requirements.

			div(class="sub-section") 
				h4(class="heading") On Road Training
				p For adults and children aged 8 plus who have good basic riding skills, on road training will provide the skills to be enable independent riding on quiet roads. Previously known as Cycling Proficiency, I now teach this in schools as Bikeability.

				p <strong>Level 2 - </strong> covers quieter roads and simple junctions. Usually delivered over a minimum of two sessions, depending on participant numbers. Learn to ride safely as a family or with a group of friends!

				p <strong>Level 3 - </strong> is aimed at Year 7 and above This is for children who have already reached Level 2 standard and are now experienced with quieter roads, and wish to progress to busier roads, and more complex junctions. Perhaps the commute to senior school involves some trickier junctions, or requires a bit of route planning.

			div(class="sub-section") 
				h4(class="heading") Need a Bike?
				p Children grow so fast, and adults may not want to splash out on new bikes ahead of learning to ride. I have various bikes available to hire for lessons, for both adults and children. There is a £5 charge for bike hire, please get in touch with your requirements. 

	include ../footer.jade
