doctype html
html
	include ../head.jade
	div(class="main-content")
		h2 Dr Bike
		div(class="image")
			img(src="../images/dr-bike.jpg")
		
		div(class="content")

			p As an accredited cycle mechanic I can carry out minor repairs, adjustments and servicing, both for individuals and organisations that may wish to hold a Bike clinic for employees. 

			p All bikes are checked prior to lessons, but if your bike has been unused for a while, or has an mechanical issue, why not book it in for a full check up before your lesson or ride?

			p A basic service costs just £20. Your bike will be thoroughly checked over, and brakes and gears adjusted. Advice will be given if any parts need replacing or further work is necessary. 

	include ../footer.jade
