doctype html
html(lang="en")
	- var titleVar = "- Learn to ride"
	- var canonicalUrl = "services/learn-to-ride"
	include ../head.jade
	include ../body.jade
	div(id="container")
		include ../navigation.jade
		div(class="main-content")
			h2 Learn to ride

			div(class="sub-section")
				h4(class="heading") Learn to Ride - Children
				div(class="image")
					img(src="../images/childrens-lesson.jpg" alt="" width="100%" height="auto")
				p Teaching children to cycle is a challenge for many parents. Kelly can take the stress out of the process by providing fun, relaxed lessons to promote excellent early riding skills. Lessons are structured for development through fun, game based methods that children really enjoy.

				p For younger children, Kelly offers a balance program designed to improve their co-ordination, and balance bike riding skills ready for cycling independently. Kelly is a fully qualified Balanceability instructor and can teach children from 2.5 years upwards the skills needed to start riding a balance bike before moving to pedal bikes.

				p While some children learn in as little as a single one hour lesson, every child is different. Kelly works with each child at a pace that suits them, and takes a flexible approach in adapting lessons to ensure any additional needs or requirements are met. This ensures your child has an enjoyable and productive lesson. Please <a href="/contact" class="link">contact me</a> if you would like to discuss any special requirements.

			div(class="sub-section")
				h4(class="heading") Learn to Ride - Adults
				div(class="image")
					img(src="../images/adult-lesson.jpg" alt="" width="100%" height="auto")
				p Even if you have never ridden a bike, or not ridden since childhood, you will be surprised at your how quickly you can make progress with an encouraging and experienced teacher. Adult lessons are available on a 1:1 basis, or contact me for details of any group lessons currently running.

	include ../footer.jade
	|</body>
