doctype html
html(lang="en")
	- var titleVar = "- Ride leading"
	- var canonicalUrl = "services/ride-leading"

	include ../head.jade
	include ../body.jade
	div(id="container")
		include ../navigation.jade
		div(class="main-content")

			h2 Ride Leading

			div(class="image")
				img(src="../images/ride-leading.jpg" alt="")

			div(class="content")
				p As a qualified ride leader with British Cycling Kelly delivers guided bike rides for groups of beginner and intermediate level adults and accompanied children on roads and cycle paths.

				p As often as her schedule permits, Kelly runs Breeze rides for women, together with fellow local champions, running fun, FREE, and social rides for women. With paces and distances to suit all rides, there is a Breeze ride for everyone. <a href="http://www.goskyride.com/Breeze/CategoryList/42/1" class="link" target="_blank"> Breeze riding</a>.

				p Find details of your next local ride on the Breeze Bracknell Forest & Wokingham <a href="https://www.facebook.com/BreezeNetworkBracknellForestHartWokingham/?fref=ts" class="link" target="_blank"> Facebook page</a>.

				p For corporate ride leading, please use the contact me form to get in touch with your requirements.


	include ../footer.jade
	|</body>
