doctype html
html
	- var titleVar = "- Schools and Youth Groups"
	- var canonicalUrl = "services/schools-and-groups"
	include ../head.jade
	div(class="main-content")
		h2 Schools and Youth Groups
	
		div(class="sub-section") 
			h4(class="heading") Bikeability
			p Venture Cycling is registered with he department of transport as a Bikeability provider, providing quality cycle training delivered by fully qualified national standards instructors. Kelly can offer weekend and holiday Bikeability training for your group or school. Please contact Kelly to discuss your requirements. 

			p For more information on Bikeability training, please see <a href="/services/bikeability" class="link">click here</a>

		div(class="sub-section") 
			h4(class="heading") Balaceability
			p Balanceability is the UK’s first and only accredited learn to cycle programme. It is suitable for children aged between 2.5 and 6 years and is designed to teach the motor skills, dynamic and static balance needed to master cycling using ergonomic balance bikes. Kelly is a qualified Balanceability instructor able to offer learn to ride sessions for small groups or on a 1:1 basis.

			p For more information on Balanceability please see <a href="http://www.balanceability.com" class="link">http://www.balanceability.com</a>

		div(class="sub-section") 
			h4(class="heading") Scouts/Guides Badges
			p For older sections, Bikeability level 2 training enables Scouts and Guides to gain their cyclist badge. Kelly is also offers sessions to teach the basic maintenance skills to all sections for their cycling badges. All necessary equipment is supplied, please get in touch for more information and to book. 

	include ../footer.jade


