doctype html
html(lang="en")
	- var titleVar = "- Schools and Youth Groups"
	- var canonicalUrl = "services/schools-and-groups"
	include ../head.jade
	include ../body.jade
	div(id="container")
		include ../navigation.jade
		div(class="main-content")

	include ../footer.jade
	|</body>
