doctype html
html
	- var titleVar = "- Services"
	- var canonicalUrl = "services/services"

	include ../head.jade
	div(class="main-content")
		h2 Services
		p I offer cycle training for all ages, from beginners wanting to learn to balance and ride right through to confident cyclists who want to ride on busier or more complex roads. Through enjoyable, and encouraging lessons you will learn to cycle safely and confidently. 

		p I am Ascot based and offer lessons in areas covered by postcodes SL5, RG12 and RG42. Surrounding areas may be considered subject to an additional fee.

	include ../footer.jade





